*{
    box-sizing: border-box;
  }
  html,body{
      margin:0;
      padding:0;
      font-family: 'Questrial', sans-serif;
      height:100%;
      background-color:rgba(72, 134, 176, 0.356);
  }
  #container {
    width: 100%;
    min-height:100%;
    position:relative;
    text-align: center;

}
h4{
    font-size: 0.8rem;
    font-weight: normal;
    margin-top: 2px;
}
label{
    font-weight: normal;
    font-size: 14px;
}
#global-summary{
background-color:rgba(61, 72, 108, 0.774);
color: rgb(255, 255, 255);
width: 100%;
margin:0 auto;
padding: 5px;
margin-top: 10px;
margin-bottom: 5px;
border-radius: 5px;
font-size: 25px;
font-weight: bold;
}
#show-updates{
    margin:0 auto;
    margin-top:10px;
    width:100%;
    padding:5px;
    border-radius: 5px;
    height: 250px;
    overflow: auto;
    background-color:rgba(61, 72, 108, 0.774);
}
img{ margin-top: 50px; margin-bottom: 50px;}
#confirmed-cases,#td-confirmed-cases{
    color:rgba(246, 81, 101);
}
#active-cases,#td-active-cases{
    color:rgba(255, 238, 0, 0.739);
}
#recoveries,#td-recoveries{
    color:rgb(18, 214, 18);
}
#deaths,#td-deaths{
    color:rgba(6, 6, 7, 0.986);
}
#td-country{
    color: rgb(255, 255, 255);
}
#td-confirmed-cases,#td-active-cases,#td-recoveries,#td-deaths{
    background-color:rgba(61, 72, 108, 0.507);
    font-weight: 400;
    font-size: 12px;    
}


header {
    background-color:rgba(61, 72, 108, 0.774);
    height:auto;
    font-size:1rem;
    color: white;
    padding:1rem;
    text-align: left;
}
#right{display: none;}
  /*#float-right{
  display: inline;
    margin-left: 80%;
    margin-top:0px;
}*/
#body{
    width: 90%;
    margin: 0 auto;
    padding-bottom: 50px;
}
.holder,#data-holder,td,th{
    border: 1px solid rgba(221, 152, 152, 0.548);
    border-collapse: collapse;
    width:95%;
    margin:0 auto;
    table-layout: fixed ;
    color:rgb(255, 255, 255);
}
th{
    background-color: rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    font-size:9px;
    padding:8px;

}
td
{
    font-size:9px;
    text-align: left;
    padding: 5px;
    background-color:rgba(61, 72, 108, 0.507);
}
footer{
    position:absolute;
    bottom: 0;
    width: 100%;
    padding:2px;
    height: 20px;
    background-color:rgba(61, 72, 108, 0.774);
    color: rgb(255, 255, 255);
    font: 8px;
}
footer a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}
@media only screen and (min-width : 400px) {
html,body{height:100%;}
#global-summary{width: 23%;float: left;font-size: 28px;}
#show-updates{
    width:76%;
    float:right;
    height: 500px;
}
#td-confirmed-cases,#td-active-cases,#td-recoveries,#td-deaths{
        font-size: 15px;    
}
header{
    font-size: 1.4rem;
    font-weight: 500;
}
th{
    
    font-size:15px;
    padding:8px;
    text-align: left;
    font-weight: normal;

}
td
{
    font-size:15px;
    text-align: left;
    padding: 5px;
}
#right{float: right;display:visible;}

}