.login{
    border-radius: 5px;
    padding: 1.5rem;
    width:85%;
    margin:0 auto;
    margin-top: 3rem;
    background-color: rgba(0, 0, 0, 0.76);
    text-align: left;
}
.form-header{
    padding: 1.2rem;
    margin:0;
    padding-top: 0;
    font-weight: 500;
    font-size: 1.2rem;
    color: white;
    text-align: center;
}
input{
    margin: 10px 0;
    padding:8px;
    width:100%;
    font-weight: 700;
    font: inherit;
}
label{
    margin-bottom: 0; 
    color:rgb(255, 255, 255);
}
#submit{
    width:100%;
    padding:10px;
    border-radius: 8px;
    font-size: 120%;
    margin-top:20px;
    background-color: rgba(42, 121, 10, 0.76);
    border: none;
    color:rgb(255, 255, 255);
}
#submit:hover{
    color:rgb(0, 0, 0);
    background-color: rgba(121, 117, 117, 0.87);
    cursor: pointer;
}
#error,#email-error{
    font-size: small;
    color:white;
    text-align: center;
    text-transform: lowercase;
}
#login-success {
    visibility: hidden;
    min-width: 300px;
    margin-left: -125px;
    background-color: green;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 16px;
    position: fixed; 
    z-index: 1;
    left: 50%;
    bottom: 150px;
    font-size: 17px;
  }
  
  #login-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 150px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 150px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 150px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 150px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

@media screen and (min-width: 380px) {
  .login{
    width: 350px;
  }
   
}