<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Updates</title>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <div id="container">
        <header>Global Covid-19 Updates</header>    
        <h1>This is a rest api that gives the daliy updates of Covid-19 numbers</h1>
        <p class="para">Data is sourced from github repository maintained by 
            <a href="https://github.com/CSSEGISandData/COVID-19">John Hopkins University</a></p>
        <p class="para">The api is free to use</p>
        <h2>The following endpoints will be available ....</h2>
        <p>It is also worth to note that hitting the below endpoints only gives the latest updates</p>
        <p class="para">/global</p>
        <p class="para">/country/:name</p>
        <p class="para">/region/:name</p>
        <footer>&copy;  2020 <a href="https://twitter.com/kabakikiarie">Find me here</a></footer>
    </div>
</body>
</html>