<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Updates</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="container">
        <header>Global Covid-19 Updates</header>
        <div id="body">
            <h1>This is a rest api that gives the daliy updates of Covid-19 numbers</h1>
           <p class="para" id="para-data">Data is sourced from github repository maintained by 
             <a href="https://github.com/CSSEGISandData/COVID-19">John Hopkins University</a></p>
           <p class="para">This api is free to use</p>
           <h2>Below are the available endpoints</h2>
           <div id="endpoints">
           <p class="para">GET the global numbers as per last update&nbsp;&nbsp;<a href="/global">/global</a></p>
           <p class="para">GET the last global sum and a per country breakdown&nbsp;&nbsp;<a href="/global/summary">/global/summary</a></p>
           <p class="para">GET the last update of the named country&nbsp;&nbsp;<a href="/country/:name">/country/:name</a></p>
           <p class="para">GET all the data of the given country since beginning&nbsp;&nbsp;<a href="/historical/country/:name">/historical/country/:name</a></p>
           <p class="para">GET the names of the countries just to avoid errors&nbsp;&nbsp;<a href="/names">/names</a></p> 
        </div>
        <script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
        <script type='text/javascript'>
        kofiwidget2.init('Support Me on Ko-fi', '#4f5557', 'Q5Q11Q42J');
        kofiwidget2.draw();
        </script>      
        </div>    
        <footer><p>&copy;  2020 <a href="https://twitter.com/kabakikiarie">Find me here</a></p></footer>
    </div>
</body>
</html>