<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Updates</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <div id="container">
        <header>Global Covid-19 Updates</header>    
        <h1>You are unauthorized to view this page</h1>
        <p>The token you supplied is invalid.</p>
        
        <footer>&copy;  2020 <a href="https://twitter.com/kabakikiarie">Find me here</a></footer>
    </div>
</body>
</html>