<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid-19 Updates</title>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/upload.css') }}">
    <script src="{{ url_for('static', filename='js/upload.js')}}"></script>
</head>
<body>
    <div id="container">
        <header>Global Covid-19 Updates</header>   
        <div class="holder" id="holder-container">
            
            <form action="/">
                <div class="label"><label>Upload country data here should happen only once.</label></div>
                <input type="file" id="myFile" name="filename">
                <input id="submit" type="submit" value="Save countries">
              </form>
              
              <form action="/">
                <div class="label"><label>Update the daily caseload here.</label></div>
                <input type="file" id="myFile" name="filename">
                <input id="countrySubmit" type="submit" value="Update   cases">
              </form>
        </div>
        <footer>&copy;  2020 <a href="https://twitter.com/kabakikiarie">Kabaki Antony</a></footer>
    </div>
</body>
</html>